*{
    box-sizing: border-box;
}

header {
    padding: 1.5em;
    background-color: #c5d5cb;
    margin-top: 0;
    text-align: center;
}
body{
    background-color: #e3e3e3;
}

#main{
    width: 70%;
    background-color: #e3e3e3;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    align-self: center;
    margin: auto;
}

h1,
h2,
h3 {
    
}

p {
    
}

footer {
    background-color: #98afa3;
    text-align: center;
    padding: 1em 0;
}