#navigation {
  background-color: #EB8921;
  border: #FD971F;
}

body {
  background-color: #272822;
}

#profile-picture{
  border-radius:50%;
  border: solid 10px #F92672
}
a p {
  color: white;
  font-family: Megrim, cursive;
  font-size: 36px;
}

#top {
  padding: 50px;
}

p {
  color: white;
  font-family: Roboto, cursive;
}

.main-body {
  margin-left: 5%;
  margin-right: 5%;
}

.title-text{
  font-family:Megrim, cursive;
  color:#66D9EF;
  text-align:center;
}
